# Normaliza tudo para LF no repositório
* text=auto eol=lf

# Shell scripts sempre LF
*.sh text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# Markdown
*.md text eol=lf

# Java
*.java text eol=lf
