# Define o comportamento padrão para todos os arquivos (auto detecção)
* text=auto

# Arquivos de texto comuns
*.java text
*.md text
*.xml text
*.yml text
*.yaml text
*.json text
*.properties text

# Scripts Shell DEVEM ser LF (Linux) para rodar no Docker/Bash
*.sh text eol=lf
mvnw text eol=lf

# Scripts Windows DEVEM ser CRLF
*.cmd text eol=crlf
*.bat text eol=crlf
mvnw.cmd text eol=crlf