services:
  # ======================================================================
  # 1. SERVIÇO DE APLICAÇÃO (WALLET-SERVICE)
  # ======================================================================
  #wallet-service-api:
  #  build:
  #    context: .
  #    dockerfile: Dockerfile
  #  image: wallet_service:latest
  #  container_name: cont-wallet-service-api
  #  restart: unless-stopped
  #  ports:
  #    - "8080:8080" # Porta da aplicação
  #    - "5005:5005" # Porta do debug
  #  deploy:
  #    resources:
  #      limits:
  #        cpus: '1.0'
  #        memory: 640M
  #      reservations:
  #        cpus: '0.25'
  #        memory: 400M
  #  volumes:
  #    - wallet_service_data:/var/lib/wallet_service/data
  #  environment:
  #    SPRING_PROFILES_ACTIVE: local
  #    SERVICE_NAME: wallet-service-api
  #    SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/wallet_db
  #    SPRING_DATASOURCE_USERNAME: wallet_user
  #    SPRING_DATASOURCE_PASSWORD: wallet_pass
  #    SPRING_JPA_HIBERNATE_DDL_AUTO: update
  #    # AGORA APONTA PARA O COLLECTOR (e não mais direto para o Jaeger)
  #    MANAGEMENT_OTLP_TRACING_ENDPOINT: http://otel-collector:4318/v1/traces
  #    MANAGEMENT_TRACING_SAMPLING_PROBABILITY: 1.0
  #  depends_on:
  #    postgres:
  #      condition: service_healthy
  #    jaeger:
  #      condition: service_started
  #    otel-collector:
  #      condition: service_started
  #  networks:
  #    - wallet_network

  # ======================================================================
  # 2. BANCO DE DADOS (POSTGRESQL)
  # ======================================================================
  postgres:
    image: postgres:15.3-alpine
    container_name: cont-wallet-postgres
    restart: unless-stopped
    environment:
      - TX=America/Sao_Paulo
      - POSTGRES_DB=wallet_db
      - POSTGRES_USER=wallet_user
      - POSTGRES_PASSWORD=wallet_pass
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          memory: 640M
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wallet_user -d wallet_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wallet_network

  # ======================================================================
  # 3. JAEGER (COLETOR E VISUALIZADOR DE TRACES)
  # ======================================================================
  jaeger:
    image: jaegertracing/all-in-one:1.60
    container_name: cont-wallet-jaeger
    restart: unless-stopped
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686" # Interface Web (UI)
      - "14268:14268" # Antigo coletor (opcional)
    volumes:
      - jaeger_tracing_data:/var/lib/jaeger_tracing/data
    networks:
      - wallet_network

  # ======================================================================
  # 4. RUNNER / CI LOCAL (ACT UBUNTU)
  # ======================================================================
  runner-act:
    image: catthehacker/ubuntu:act-20.04
    container_name: cont-wallet-runner-act
    restart: "no"
    tty: true
    stdin_open: true
    volumes:
      - runner_act_data:/var/lib/runner_act/data
    networks:
      - wallet_network

  # ======================================================================
  # 5. MONITORAMENTO E QUALIDADE (PROMETHEUS, GRAFANA, SONARQUBE, OTel)
  # ======================================================================
  
  # NOVO: OPEN TELEMETRY COLLECTOR
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.99.0
    container_name: cont-wallet-otel-collector
    restart: unless-stopped
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    depends_on:
      - jaeger
    ports:
      - "4317:4317" # gRPC receiver (O erro do seu Java Agent sumirá aqui)
      - "4318:4318" # HTTP receiver
      - "8889:8889" # Prometheus exporter metrics
    networks:
      - wallet_network

  prometheus:
    image: prom/prometheus:v2.51.0
    container_name: cont-wallet-prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - wallet_network

  grafana:
    image: grafana/grafana:10.2.3
    container_name: cont-wallet-grafana
    restart: unless-stopped
    user: "472"
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - wallet_network

  #sonarqube:
  #  image: sonarqube:10.5.1-community
  #  container_name: cont-sonarqube
  #  ports:
  #    - "9000:9000"
  #  environment:
  #    - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
  #    - SONARQUBE_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/sonar
  #    - SONARQUBE_JDBC_USERNAME=sonar
  #    - SONARQUBE_JDBC_PASSWORD=sonar
  #  networks:
  #    - wallet_network
  #  volumes:
  #    - sonarqube_data:/opt/sonarqube/data
  #    - sonarqube_extensions:/opt/sonarqube/extensions
  #    - sonarqube_logs:/opt/sonarqube/logs

  pgadmin:
    image: dpage/pgadmin4
    container_name: cont-wallet-pgadmin4
    restart: unless-stopped
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@postgres.com'
      PGADMIN_DEFAULT_PASSWORD: wallet_pass
    depends_on:
      - postgres
    networks:
      - wallet_network

# ======================================================================
# VOLUMES E REDES
# ======================================================================
volumes:
  postgres_data:
  wallet_service_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  jaeger_tracing_data:
  runner_act_data:

networks:
  wallet_network:
    driver: bridge