services:
  # ======================================================================
  # 1. BANCO DE DADOS (POSTGRESQL)
  # ======================================================================
  postgres:
    image: postgres:15.3-alpine
    container_name: cont-wallet-postgres
    restart: unless-stopped
    environment:
      - TX=America/Sao_Paulo
      - POSTGRES_DB=wallet_db
      - POSTGRES_USER=wallet_user
      - POSTGRES_PASSWORD=wallet_pass
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          memory: 640M
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wallet_user -d wallet_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wallet_network

  # ======================================================================
  # 2. COLETORES DE DADOS (JAEGER E LOKI)
  # ======================================================================
  jaeger:
    image: jaegertracing/all-in-one:1.60
    container_name: cont-wallet-jaeger
    restart: unless-stopped
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "14268:14268"
    volumes:
      - jaeger_tracing_data:/var/lib/jaeger_tracing/data
    networks:
      - wallet_network

  loki:
    image: grafana/loki:2.9.0
    container_name: cont-wallet-loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/etc/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - wallet_network

  # ======================================================================
  # 3. OPEN TELEMETRY COLLECTOR (PONTE DE DADOS)
  # ======================================================================
  otel-collector:
    #image: otel/opentelemetry-collector-contrib:0.99.0
    image: otel/opentelemetry-collector-contrib:0.95.0  # Retornando para a sua versão original
    container_name: cont-wallet-otel-collector
    restart: unless-stopped
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "4317:4317" # gRPC
      - "4318:4318" # HTTP
      - "8889:8889" # Prometheus metrics
    depends_on:
      jaeger:
        condition: service_started
      loki:
        condition: service_started
    networks:
      - wallet_network

  # ======================================================================
  # 4. MONITORAMENTO (PROMETHEUS E GRAFANA)
  # ======================================================================
  prometheus:
    image: prom/prometheus:v2.51.0
    container_name: cont-wallet-prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      otel-collector:
        condition: service_started
    networks:
      - wallet_network

  grafana:
    image: grafana/grafana:10.2.3
    container_name: cont-wallet-grafana
    restart: unless-stopped
    user: "472"
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      prometheus:
        condition: service_started
      loki:
        condition: service_started
    networks:
      - wallet_network

  # ======================================================================
  # 5. UTILITÁRIOS E RUNNER
  # ======================================================================
  pgadmin:
    image: dpage/pgadmin4
    container_name: cont-wallet-pgadmin4
    restart: unless-stopped
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@postgres.com'
      PGADMIN_DEFAULT_PASSWORD: wallet_pass
    depends_on:
      - postgres
    networks:
      - wallet_network

  runner-act:
    image: catthehacker/ubuntu:act-20.04
    container_name: cont-wallet-runner-act
    restart: "no"
    tty: true
    stdin_open: true
    volumes:
      - runner_act_data:/var/lib/runner_act/data
    networks:
      - wallet_network

# ======================================================================
# DEFINIÇÃO DE VOLUMES E REDES
# ======================================================================
volumes:
  postgres_data:
  wallet_service_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  jaeger_tracing_data:
  runner_act_data:
  pgadmin_data:
  grafana-data:
  loki-data:

networks:
  wallet_network:
    driver: bridge