server:
  protocol-type: http
  hostname: localhost
  port: 8080
  address: 0.0.0.0
  servlet:
    context-path: /wallet-service-api

controller:
  path:
    base: "/api"

wallet-service-api:
  seed-path: classpath:./data/seed/

spring:
  application:
    name: wallet-service-api

  config:
    import: "optional:classpath:security-matchers.yml"

  data:
    web:
      pageable:
        default-page-size: 25
        max-page-size: 150

  jackson:
    default-property-inclusion: non_null
    property-naming-strategy: LOWER_CAMEL_CASE
    deserialization:
      fail-on-unknown-properties: false

  threads:
    virtual:
      enabled: true

springdoc:
  packagesToScan: com.guga.walletserviceapi
  pathsToMatch: /api/**
  api-docs:
    path: /v3/api-docs
    version: OPENAPI_3_0
    enabled: true
  info:
    title: Microservices Wallet Service
    description: API REST manages the entire lifecycle of a wallet service
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false
    try-it-out-enabled: false
    groups-order: ASC
    operationsSorter: alpha
  show-actuator: true
  writer-with-default-pretty-printer: true
