
server:
  protocol-type: http
  hostname: localhost
  port: '8080'
  address: 0.0.0.0
  servlet:
    context-path: /wallet-service-api

controller:
  path:
    base: "/api"

wallet-service-api:
  seed-path: classpath:./data/seed/

springdoc:
  packagesToScan: com.guga.walletserviceapi   # ou seu pacote base exato
  pathsToMatch: /api/** 
  api-docs:
    #server-url: http://localhost:8080/wallet-service-api/api
    path: /v3/api-docs
    version: OPENAPI_3_0
    enabled: true
  info:
    title: Microservices Wallet Service
    description: API REST manages the entire lifecycle of a wallet service
  kotlin:
    enabled: false
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false  
    try-it-out-enabled: 'false'
    groups-order: ASC
    operationsSorter: alpha
  show-actuator: true
  writer-with-default-pretty-printer: true

spring:
  #main:
    #allow-circular-references: true
  application:
    name: wallet-service-api
  config:
      import: "optional:classpath:security-matchers.yml"
  data:
    web:
      pageable:
        max-page-size: 30
        default-page-size: 300    #é a quantidade de linhas que serão retornadas da query
        #page-parameter: page
        #size-parameter: size
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet_db
    username: wallet_user
    password: wallet_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      register-mbeans: true # Permite a exposição via JMX/Metrics
  # Configurações do console H2
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jackson:
    default-property-inclusion: non_null
    #property-naming-strategy: SNAKE_CASE
    property-naming-strategy: LOWER_CAMEL_CASE
    deserialization:
      fail-on-unknown-properties: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update    # none | validate | update | create | create-drop
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        default_schema: public
        "[format_sql]": true
        "[use_sql_comments]": true
        jdbc:
          "[batch_size]": 1000
        "[order_inserts]": true
        "[order_updates]": true
        jdbc.batch_versioned_data: true   # Mantenha a versão do dado no batch
  security:
    user:
      name: wallet_user
      password: wallet_pass
      roles:
      - "MONITOR"
  threads.virtual.enabled: true
  spring:
    profiles:
      active: local

management:
  endpoints:
    web:
      exposure:
        # Define quais ferramentas podem ler dados da aplicação
        include: 'health,info,loggers,prometheus,metrics'
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
    metrics:
      enabled: true
  # Configurações de Observabilidade (Logs, Traces e Métricas)
  observations:
    key-values:
      application: ${spring.application.name}
  # Exportação para Prometheus (Onde o seu Prometheus faz o 'scrape')
  prometheus:
    metrics:
      export:
        enabled: true
  # Configuração do OpenTelemetry (Logs e Traces via OTLP)
  otlp:
    logging:
      endpoint: http://localhost:4318/v1/logs
      timeout: 10s
    tracing:
      endpoint: http://localhost:4318/v1/traces
      timeout: 10s
    metrics:
      export:
        enabled: false # Desativado pois você está usando o Prometheus (pull) em vez de OTLP (push)
  # Métricas Internas e Histogramas (Para Gráficos de Latência/P95)
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
    enable:
      process: true
      jvm: true
    tags:
      application: ${spring.application.name}
  # Configuração de Rastreamento (Distributed Tracing)
  tracing:
    enabled: true
    sampling:
      probability: 1.0 # 1.0 envia 100% dos traces (mude para 0.1 em produção)


logging:
  file:
    name: logs/application.log
  exception-conversion-word: "%wEx{5}"
  level:
    root: INFO
    com.guga.walletserviceapi: DEBUG
    org.hibernate: INFO
    org.springdoc: INFO
    org.springframework: INFO
    org.springframework.data.mapping: INFO
    org.springframework.security: INFO
    org.springframework.web.filter.CommonsRequestLoggingFilter: INFO
