spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,loggers,prometheus,metrics,caches,cache,threaddump,httpexchanges"

logging:
  file:
    name: logs/application.log
  exception-conversion-word: "%wEx{5}"
  level:
    root: INFO
    com.guga.walletserviceapi: DEBUG
    org.hibernate: INFO
    org.springdoc: INFO
    org.springframework: INFO
    org.springframework.security: INFO