
server:
  protocol-type: http
  hostname: localhost
  port: '8080'
  servlet:
    context-path: /wallet-service-api

controller:
  path:
    base: "/api"

wallet-service-api:
  seed-path: classpath:./data/seed/

springdoc:
  packagesToScan: com.guga.walletserviceapi   # ou seu pacote base exato
  pathsToMatch: /api/** 
  api-docs:
    #server-url: http://localhost:8080/wallet-service-api/api
    path: /v3/api-docs
    version: OPENAPI_3_0
    enabled: true
  info:
    title: Microservices Wallet Service
    description: API REST manages the entire lifecycle of a wallet service
  kotlin:
    enabled: false
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false  
    try-it-out-enabled: 'false'
    groups-order: ASC
    operationsSorter: alpha
  show-actuator: true
  writer-with-default-pretty-printer: true

spring:
  #main:
    #allow-circular-references: true
  application:
    name: wallet-service-api
  config:
      import: "optional:classpath:security-matchers.yml"
  data:
    web:
      pageable:
        default-page-size: 300    #é a quantidade de linhas que serão retornadas da query
        max-page-size: 30
        page-parameter: page
        size-parameter: size
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet_db
    username: wallet_user
    password: wallet_pass
    driver-class-name: org.postgresql.Driver
  # Configurações do console H2
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jackson:
    default-property-inclusion: non_null
    #property-naming-strategy: SNAKE_CASE
    property-naming-strategy: LOWER_CAMEL_CASE
    deserialization:
      fail-on-unknown-properties: false
    #serialization:
    #  fail-on-empty-beans: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update        #none | validate | update | create | create-drop
      use_sql_comments: true
      jdbc.batch_size: 1000
    generate-ddl: true
    #properties:
    show-sql: 'true'
    format_sql: true
    #properties:
    #  hibernate:
    #    instrumentation:
    #      enabled: false  # Desabilita instrumentação automática do Hibernate para evitar conflitos com OpenTelemetry
  security:
    user:
      name: wallet_user
      password: wallet_pass
      roles:
      - "MONITOR"
  threads.virtual.enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, loggers, prometheus, metrics
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      show-details: always
  tags:
    application: ${spring.application.name}
  observations:
    key-values:
      application: wallet-service-api
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
    metrics:
      export:
        enabled: false
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

  tracing:
    enabled: true
    sampling:
      probability: 1.0

# Define o nível global como INFO e silencia bibliotecas verbosas
logging.level.org.springframework.beans.factory: INFO
logging.level.root: INFO
logging.level.org.springframework: INFO
logging.level.org.hibernate: INFO

# Silencia o SpringDoc (Swagger) que está aparecendo muito no seu log
logging.level.org.springdoc: WARN

logging.level.org.springframework.data.mapping: DEBUG

# Silencia especificamente a segurança e observabilidade que gera esse stacktrace
logging.level.org.springframework.security: INFO
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter: WARN

# Limita o stacktrace para apenas as primeiras 5 linhas em caso de erro
logging.exception-conversion-word: "%wEx{5}"

