server:
  protocol-type: http
  hostname: localhost
  port: '8080'
  servlet:
    context-path: /wallet-services-api
controller:
  path:
    base: "/api"

wallet-services-api:
  seed-path: classpath:./data/seed/

springdoc:
  packagesToScan: com.guga.walletserviceapi   # ou seu pacote base exato
  pathsToMatch: /api/** 
  api-docs:
    #server-url: http://localhost:8080/wallet-services-api/api
    path: /v3/api-docs
    version: OPENAPI_3_0
    enabled: true
  info:
    title: Microservices Wallet Service
    description: API REST manages the entire lifecycle of a wallet service
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false  
    try-it-out-enabled: 'false'
    groups-order: ASC
spring:
  ##spring.main.allow-circular-references: true
  application:
    name: wallet-service-api
  data:
    web:
      pageable:
        default-page-size: 25
        max-page-size: 25
        page-parameter: page
        size-parameter: size
  datasource:
    ### Propriedades específicas do H2
    #url: jdbc:h2:file:./data/db_wallet;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    #driver-class-name: org.h2.Driver
    #username: wallet_user
    #password: wallet_pass

    # Propriedades específicas do PostgreSQL
    url: jdbc:postgresql://host.docker.internal:5432/wallet_db
    username: wallet_user
    password: wallet_pass

  # Configurações do console H2
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: create-drop   #none | validate | update | create | create-drop
      use_sql_comments: true
      #enable_lazy_load_no_trans: true
    generate-ddl: true
    properties:
      jdbc.batch_size: 1000
    show-sql: 'true'
    format_sql: true
  jackson:
    default-property-inclusion: non_null
    #property-naming-strategy: SNAKE_CASE
    property-naming-strategy: LOWER_CAMEL_CASE
    deserialization:
      fail-on-unknown-properties: false
    #serialization:
    #  fail-on-empty-beans: false
  #sql:
    #init:
      #mode: always
      #defer-datasource-initialization: true      
      #data-locations:
      #- classpath:data.sql
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      show-details: always

