server:
  protocol-type: http
  hostname: localhost
  port: '8080'
  servlet:
    context-path: /wallet-services-api
controller:
  path:
    base: "/api"
    #base-mapping: "/api"
    #full: "/wallet-services-api/api"

wallet-services-api:
  seed-path: classpath:./data/seed/

springdoc:
  packagesToScan: com.guga.walletserviceapi   # ou seu pacote base exato
  pathsToMatch: /api/** 
  api-docs:
    #server-url: http://localhost:8080/wallet-services-api/api
    path: /v3/api-docs
    version: OPENAPI_3_0
    enabled: true
  info:
    title: Microservices Wallet Service
    description: API REST manages the entire lifecycle of a wallet service
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false  
    try-it-out-enabled: 'false'
    groups-order: ASC
spring:
  application:
    name: wallet-service-api
  data:
    web:
      pageable:
        default-page-size: 25
        max-page-size: 50
        page-parameter: page
        size-parameter: size
  ####
  # CONFIGURACAO LOCAL UTILIZANDO H2
  ####
  datasource:
    ## Propriedades específicas do H2
    #url: jdbc:h2:file:./data/db_wallet;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    #driver-class-name: org.h2.Driver
    #username: wallet_user
    #password: wallet_pass

    # Propriedades específicas do PostgreSQL
    #url: jdbc:postgresql://postgres:5432/wallet_db
    url: jdbc:postgresql://host.docker.internal:5432/wallet_db
    #url: jdbc:postgresql://cont-wallet-postgres:5432/wallet_db
    username: wallet_user
    password: wallet_pass

  # Configurações do console H2
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update #none | validate | update | create | create-drop
      use_sql_comments: true
      #enable_lazy_load_no_trans: true
    generate-ddl: true
    properties:
      #jakarta.persistence.sql-load-script-source: classpath:data.sql
      #hibernate.hbm2ddl.delimiter: ','
      jdbc.batch_size: 1000
      #jakarta.persistence.schema-generation.scripts.action: drop-and-create
      #jakarta.persistence.schema-generation.create-source: metadata
      #jakarta.persistence.schema-generation.scripts.create-target: ./data/schema-create.sql
      #jakarta.persistence.schema-generation.scripts.drop-target: ./data/schema-drop.sql
      #jakarta.persistence.schema-generation.scripts.target: file, console
    show-sql: 'true'
    format_sql: true
  jackson:
    default-property-inclusion: non_null
    #property-naming-strategy: SNAKE_CASE
    property-naming-strategy: LOWER_CAMEL_CASE
    deserialization:
      fail-on-unknown-properties: false
    #serialization:
    #  fail-on-empty-beans: false
  #sql:
    #init:
      #mode: always
      #defer-datasource-initialization: true      
      #data-locations:
      #- classpath:data.sql
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      show-details: always

logging:
  level:
    # Nível mais alto (TRACE/DEBUG) para detalhar a causa raiz do erro de persistência
    # (Este é o foco para debugar o erro de JPA/Hibernate)
    org.hibernate.engine.jdbc.spi: warn 
    org.hibernate.orm.jdbc.batch: warn # Detalhes sobre a execução do batch JDBC
    org.hibernate.SQL: warn          # Mostra as queries SQL geradas

    # Nível DEBUG para a camada de transação do Spring e JPA
    org.springframework.orm.jpa: warn
    org.springframework.transaction: warn
    org.springframework.security: warn # Mantém a segurança em INFO (nível padrão para evitar flood)