<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Console (debug local + docker logs) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- Evita poluir com scraping do Prometheus -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return message.contains("/actuator/prometheus");</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{trace_id}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- OpenTelemetry Appender -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <!-- Mantém só o essencial (evita custo alto em produção) -->
        <captureCodeAttributes>false</captureCodeAttributes>
        <captureMarkerAttributes>false</captureMarkerAttributes>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
        <captureContextDataAttributes>true</captureContextDataAttributes>
    </appender>

    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>

</configuration>
