name: CI/CD Pipeline > wallet-service-api

# Gatilhos: Quando o workflow deve rodar
on:
  push:
    branches:
      - main
      - develop
      - feature/*
  pull_request:
    branches:
      - main
      - develop
      - feature/*

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps: 
    
    # 1. Checkout do código
    - name: Checkout do Código
      uses: actions/checkout@v4

    # 2. Configuração do ambiente (Java 21)
    - name: Configurar Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
        
    # 2.1. NOVO PASSO: Configurar o Maven (CORREÇÃO DO ERRO 'mvn not found')
    - name: Configurar Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: '3.9.6' # Versão estável recente, ou a que você usa
        
    # 3. Instalação de dependências e Build
    - name: Compilar e Instalar Dependências (Build)
      run: mvn clean install -DskipTests
      
# 4. Execução de testes (CI)
    - name: Rodar Testes Unitários e Gerar Cobertura (DEBUG)
      run: mvn test -Dsurefire.useFile=false -DfailIfNoTests=false
      
    # ...